<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 20px;">
    <table style="max-width: 600px; background-color: #ffffff; margin: 20px auto; padding: 20px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); border-spacing: 0; width: 100%;">
        <tr>
            <td style="border-bottom: 2px solid #ccc; padding-bottom: 10px;">
                <table style="width: 100%;">
                    <tr>
                        <td style="font-size: 24px; color: #333;">UMG: Universidad Mariano Gálvez</td>
                        <td style="text-align: right;">
                            <img src="https://umg.edu.gt/img/Umg.png" alt="logo umg" style="max-width: 70px; height: auto; display: block;" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px 0;">
                <h1 style="font-size: 24px; font-weight: bold; color: #333;">Notificación de Tarea!</h1>
                <p style="font-size: 16px; color: #666; line-height: 1.5;">
                    Estimado/a <strong>{{nombre}}</strong>,
                </p>
                <p style="font-size: 16px; color: #666; line-height: 1.5;">
                    Le informamos que se ha asignado una nueva tarea en la plataforma <strong>TesM</strong>. A continuación, encontrará los detalles de la misma:
                </p>
                <h3 style="font-size: 20px; color: #333;">Detalles de la tarea:</h3>
                <ul style="font-size: 16px; color: #666; line-height: 1.5;">
                    <li><strong>Título:</strong> {{titulo}}</li>
                    <li><strong>Descripción:</strong> {{descripcion}}</li>
                    <li><strong>Fecha de entrega:</strong> {{fecha}}</li>
                    <li><strong>Autor:</strong> {{autor}}</li>
                </ul>
                <p style="font-size: 16px; color: #666;">
                    Puede acceder a la plataforma para más detalles sobre la <strong>tarea</strong> y las próximas acciones a seguir.
                </p>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <a href="/" style="padding: 10px 20px; background-color: #1c72a5; color: white; text-decoration: none; border-radius: 4px; font-size: 16px; font-weight: 700;">Ver detalles</a>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; padding-top: 20px;">
                <strong>¡No respondas a este correo!</strong>
            </td>
        </tr>
    </table>
</body>
</html>
