<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 20px;">
    <table style="max-width: 600px; background-color: #ffffff; margin: 20px auto; padding: 20px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); border-spacing: 0; width: 100%;">
        <tr>
            <td style="border-bottom: 2px solid #ccc; padding-bottom: 10px;">
                <table style="width: 100%;">
                    <tr>
                        <td style="font-size: 24px; color: #333;">UMG: Universidad Mariano Gálvez</td>
                        <td style="text-align: right;">
                            <img src="https://umg.edu.gt/img/Umg.png" alt="logo umg" style="max-width: 70px; height: auto; display: block;" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px 0;">
                <h1 style="font-size: 24px; font-weight: bold; color: #333;">Nueva Entrega de Propuesta de Tesis</h1>
                <p style="font-size: 16px; color: #666; line-height: 1.5;">
                    Estimado/a <strong>{{professor}}</strong>,
                </p>
                <p style="font-size: 16px; color: #666; line-height: 1.5;">
                    Le informamos que el estudiante <strong>{{student}}</strong> ha realizado la entrega de su propuesta de tesis en la plataforma <strong>TesM</strong>. A continuación, los detalles de la entrega:
                </p>
                <h3 style="font-size: 20px; color: #333;">Detalles de la entrega:</h3>
                <ul style="font-size: 16px; color: #666; line-height: 1.5;">
                    <li><strong>Título de la tarea:</strong> {{thesisTitle}}</li>
                    <li><strong>Fecha de Entrega:</strong> {{submissionDate}}</li>
                </ul>
                <p style="font-size: 16px; color: #666;">
                    Por favor, revise la propuesta y proporcione sus comentarios en la plataforma.
                </p>
            </td>
        </tr>

        <tr>
            <td style="text-align: center; padding-top: 20px;">
                <p style="font-size: 14px; color: #666;">Este es un mensaje generado automáticamente, por favor no responda a este correo.</p>
            </td>
        </tr>
    </table>
</body>
</html>
